%nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      cryptrage
      %i.fas.fa-project-diagram

    %button.navbar-toggler{"aria-controls" => "menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#menu", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #menu.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-md-0
        %li.nav-item
          = link_to "Markets", markets_path, class: 'nav-link'
