@import 'variables';

body {
  padding-top: 5rem;
}

.navbar {
  padding-bottom: 0;
}

.navbar-brand {
  padding-bottom: 0.5vh;
  i {
    color: purple;
    margin-right: 2vw;
  }
}

.grid-tables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
#menu {
  li{
    padding: 0 3vw 0vh 3vw;
    border-bottom: 3px #f8f9fa solid;

    &.active {
      border-bottom: 3px purple solid;

      .nav-link {
        color: purple;
        font-weight: 600;
      }
    }
  }
}
.market-tables {
  table {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  thead {
    flex: 0 0 auto;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

@media (max-width:768px) {
  .market-tables {
    grid-template-columns: 1fr;
  }
}
